.cproject
.project
build/CMakeCache.txt
build/CMakeFiles/
build/CTestTestfile.cmake
build/Makefile
build/cmake_install.cmake
build/install_manifest.txt
build/libgtkforms.so
build/pc/gtkforms.pc
*~
CMakeLists.txt.user
build/gtkforms.cbp
build
