<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <Unit id="login">
        <ControllerMap set-as="controllers">
            <LoginController set-as="loginController" name="loginController"/>            
            <LoginController set-as="toolbarController" name="toolbarController"/>            
            <LoginController set-as="headerController" name="headerController"/>            
        </ControllerMap>
    </Unit>    

    <Unit id="main">
        <ControllerMap set-as="controllers">
            <LoginController set-as="headerController" name="headerController"/>            
        </ControllerMap>
    </Unit>    

    <Unit id="result">
        <ControllerMap set-as="controllers">
            <LoginController set-as="aController" name="loginController"/>            
            <LoginController set-as="toolbarController" name="toolbarController"/>            
            <LoginController set-as="bController" name="toolbarController"/>            
        </ControllerMap>
    </Unit>    


    <UiFile id="firstUi" file="../demo/first/first.ui" />
    
    <Page id="loginPage">
        <ViewMap set-as="views">
            <GtkView set-as="loginView" name="loginView" uiFile="@firstUi">
              <Tile add-to="tiles" slotWidget="sidePane" plugWidget="toolbaView"/>
              <Tile add-to="tiles" slotWidget="upperPane" plugWidget="headerView"/>
            </GtkView>

            <GtkView set-as="toolbaView" name="toolbaView" uiFile="@firstUi" />
            <GtkView set-as="headerView" name="headerView" uiFile="@firstUi"/>
        </ViewMap>
    </Page>

    <Page id="infoPage" joinable="true">
        <ViewMap set-as="views">
            <GtkView set-as="loginView" name="loginView" uiFile="@firstUi" />
        </ViewMap>
    </Page>
</beans>