<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <Unit id="login">
        <ControllerMap set-as="controllers">
            <LoginController set-as="loginController" name="loginController"/>            
            <DummyController set-as="toolbarController" name="toolbarController"/>            
            <DummyController set-as="headerController" name="headerController"/>            
        </ControllerMap>
    </Unit>    

    <UiFile id="firstUi" file="../demo/first/first.ui" />
    
    <Page id="loginPage" name="loginPage">
      <GtkView set-as="view" name="loginView" uiFile="@firstUi"/>
       
      <Slot add-to="slots" name="toolbarSlot" tileName="toolbaView"/>
      <Slot add-to="slots" name="headerSlot"  tileName="headerView"/>
      
      <GtkTileMap set-as="tiles">
        <GtkTile set-as="toolbarView" name="toolbaView" uiFile="@firstUi" />
        <GtkTile set-as="headerView" name="headerView" uiFile="@firstUi"/>
      </GtkTileMap>
    </Page>

    <Unit id="main">
        <ControllerMap set-as="controllers">
            <DummyController pageToShow="mainPage" set-as="mainController" name="mainController"/>            
            <DummyController set-as="headerController" name="headerController"/>            
            <DummyController set-as="toolbarController" name="toolbarController"/>            
        </ControllerMap>
    </Unit>    

    <Page id="mainPage" name="mainPage">
<!--         <ViewMap set-as="views"> -->
<!--             <GtkView set-as="mainView" name="mainView" uiFile="@firstUi"> -->
<!--               <Tile add-to="tiles" slotWidget="toolbarSlot" plugWidget="toolbaView"/> -->
<!--               <Tile add-to="tiles" slotWidget="headerSlot" plugWidget="headerView"/> -->
<!--             </GtkView> -->

<!--             <GtkView set-as="toolbaView" name="toolbaView" uiFile="@firstUi" /> -->
<!--             <GtkView set-as="headerView" name="headerView" uiFile="@firstUi"/> -->
<!--         </ViewMap> -->
    </Page>

<!--     <Page id="infoPage"> -->
<!--         <ViewMap set-as="views"> -->
<!--             <GtkView set-as="loginView" name="loginView" uiFile="@firstUi" /> -->
<!--         </ViewMap> -->
<!--     </Page> -->
</beans>