<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <Unit id="login">
        <ControllerMap set-as="controllers">
            <LoginController set-as="loginController" name="loginController"/>            
            <LoginController set-as="toolbarController" name="toolbarController"/>            
            <LoginController set-as="headerController" name="headerController"/>            
        </ControllerMap>
    </Unit>    

    <Unit id="main">
        <ControllerMap set-as="controllers">
            <LoginController set-as="headerController" name="headerController"/>            
        </ControllerMap>
    </Unit>    

    <Unit id="result">
        <ControllerMap set-as="controllers">
            <LoginController set-as="aController" name="loginController"/>            
            <LoginController set-as="toolbarController" name="toolbarController"/>            
            <LoginController set-as="bController" name="toolbarController"/>            
        </ControllerMap>
    </Unit>    


    <Page id="loginPage">
        <ViewMap set-as="views">
            <GtkView set-as="loginView" name="loginView" />
        </ViewMap>
    </Page>

    <!-- popupy ALBO TAK... -->
    <Page id="infoPage" join="true">
        <ViewMap set-as="views">
            <GtkView set-as="loginView" name="loginView" />
        </ViewMap>
    </Page>

    <!-- ...ALBO TAK -->
    <Page id="infoPage">
        <ViewMap set-as="views">
            <GtkView set-as="loginView" name="loginView" join="true" />
        </ViewMap>
    </Page>

</beans>