<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <Unit id="login">
        <ControllerMap set-as="controllers">
            <LoginController set-as="loginController" name="loginController"/>            
            <DummyController set-as="toolbarController" name="toolbarController"/>            
            <DummyController set-as="headerController" name="headerController"/>            
        </ControllerMap>
    </Unit>    

    <UiFile id="firstUi" file="../demo/first/first.ui" />

    <GtkTile id="toolbarView" name="toolbarView" uiFile="@firstUi" />
    <GtkTile id="headerView" name="headerView" uiFile="@firstUi"/>
    
    <Page id="loginPage" name="loginPage">
      <GtkView set-as="view" name="loginView" uiFile="@firstUi"/>
       
      <Slot add-to="slots" name="toolbarSlot" tileName="toolbarView"/>
      <Slot add-to="slots" name="headerSlot"  tileName="headerView"/>
      
      <GtkTileMap set-as="tiles">
<!--         <GtkTile set-as="toolbarView" name="toolbarView" uiFile="@firstUi" /> -->
<!--         <GtkTile set-as="headerView" name="headerView" uiFile="@firstUi"/> -->
        <ref bean="toolbarView" set-as="toolbarView" />
        <ref bean="headerView" set-as="headerView" />
      </GtkTileMap>
    </Page>

    <Unit id="main">
        <ControllerMap set-as="controllers">
            <DummyController viewCommand="->mainPage" set-as="mainController" name="mainController"/>            
            <DummyController set-as="headerController" name="headerController"/>            
            <DummyController set-as="toolbarController" name="toolbarController"/>            
        </ControllerMap>
    </Unit>    

    <Page id="mainPage" name="mainPage">
      <GtkView set-as="view" name="mainView" uiFile="@firstUi"/>
               
      <Slot add-to="slots" name="toolbarSlot" tileName="toolbarView"/>
      <Slot add-to="slots" name="headerSlot"  tileName="headerView"/>
      
      <GtkTileMap set-as="tiles">
        <ref bean="toolbarView" set-as="toolbarView" />
        <ref bean="headerView" set-as="headerView" />
      </GtkTileMap>
    </Page>

<!--     <Page id="infoPage"> -->
<!--         <ViewMap set-as="views"> -->
<!--             <GtkView set-as="loginView" name="loginView" uiFile="@firstUi" /> -->
<!--         </ViewMap> -->
<!--     </Page> -->
</beans>